{%- set deps = [] -%}
{%- for dep in python_dependencies.split(',') if dep.strip() -%}
{%- set _ = deps.append({"dependency_type": "python-package", "pypi_id": dep.strip()}) -%}
{%- endfor -%}
{%- for dep in vocab_dependencies.split(',') if dep.strip() -%}
{%- set _ = deps.append({"dependency_type": "vocabulary", "package_id": dep.strip()}) -%}
{%- endfor -%}
{
  "$schema": "https://marketplace.eccenca.dev/api/manifest",
  "package_id": "{{ package_id }}",
  "package_version": "0.0.0",
  "metadata": {
    "name": "{{ package_name }}",
    "description": "{{ package_description }}",
    "comment": "{{ package_comment }}"
  },{% if deps %}
  "dependencies": [
{%- for dep in deps %}
    {
{%- for key, value in dep.items() %}
      "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}
{%- endfor %}
    }{% if not loop.last %},{% endif %}
{%- endfor %}
  ],{% endif %}
  "files": [],
  "package_type": "{{ package_type }}"
}
