{%- set deps = [] -%}
{%- for dep in python_dependencies.split(',') if dep.strip() -%}
{%- set _ = deps.append({"dependency_type": "python-package", "pypi_id": dep.strip()}) -%}
{%- endfor -%}
{%- for dep in vocab_dependencies.split(',') if dep.strip() -%}
{%- set _ = deps.append({"dependency_type": "marketplace-package", "package_id": dep.strip()}) -%}
{%- endfor -%}
{
  "$schema": "https://eccenca.market/api/manifest",
  "package_id": "{{ package_id }}",
  "package_version": "0.0.0",
  "metadata": {
    "name": "{{ package_name }}",
    "description": "{{ package_description }}",
    "license": "Apache-2.0",
    "comment": null,
    "agents": [
      {
        "agent_role": "publisher",
        "agent_name": "eccenca GmbH",
        "agent_url": "https://eccenca.com/",
        "agent_email": null,
        "agent_type": "organization"
      }
    ],
    "urls": [],
    "tags": []
  },{% if deps %}
  "dependencies": [
{%- for dep in deps %}
    {
{%- for key, value in dep.items() %}
      "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}
{%- endfor %}
    }{% if not loop.last %},{% endif %}
{%- endfor %}
  ],{% endif %}
  "files": [
    {
      "file_path": "example.ttl",
      "file_type": "graph",
      "graph_iri": "https://example.org/data/",
      "import_into": [],
      "register_as_vocabulary": {% if package_type == 'vocabulary' %}true{% else %}false{% endif %}
    },
    {
      "file_path": "CHANGELOG.md",
      "file_type": "text",
      "file_role": "changelog"
    },
    {
      "file_path": "LICENSE",
      "file_type": "text",
      "file_role": "license"
    }
  ],
  "package_type": "{{ package_type }}"
}
